.big-calendar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    padding: 50px;
}

.nav-link {
    float: left;
    padding: 40px 0 0 50px;
    text-decoration: none;
    font-weight: 500;
    color: #918d8d;
    cursor: pointer;
}