@import '../../styles/mixins.scss';
.Home {
    .nav-link {
        @include nav-item;
    }
    .carousel.carousel-slider {
        @include main-page;
        display: flex;
    }
    .carousel .slide {
        display: flex;
        align-items: center;
        background: transparent;
        padding: 20px;
        &:not(.selected) {
            transform: scale(0.8);
        }
    }
}