@mixin nav-item {
    float: left;
    padding: 40px 0 0 50px;
    text-decoration: none;
    font-weight: 500;
    color: #918d8d;
    cursor: pointer;
}

@mixin main-page {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    z-index: -1;
}

@mixin tag {
    .tag {
        display: flex;
        align-items: center;
        border: 2px solid #918d8d;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        height: 20px;

        &[data-colour="GREEN"] {
            background-color: #659665;
        }
        &[data-colour="RED"] {
            background-color: rgb(218, 51, 51);
        }
        &[data-colour="YELLOW"] {
            background-color: rgb(255, 255, 143);
        }
        &[data-colour="BLUE"] {
            background-color: rgb(151, 151, 255);
        }
        &[data-colour="PURPLE"] {
            background-color: rgb(124, 69, 124);
        }
    }
}